
{{> intro titulo="Contacto"}}

{{> menu}}

{{> header}}

{{> inicioMain}}

<!-- Contact section -->
<div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
    <div class="w3-content" style="max-width:600px">
        <h4 class="w3-center"><b>Contact Me</b></h4>
        <p>Tiene alguna consulta acerca de alguna raza?</p>
        <form action="/agregarAlumno" method="POST" target="_blank">
            <div class="w3-section">
                <label>Nombre</label>
                <input class="w3-input w3-border" type="text" name="Name" required>
            </div>
            <div class="w3-section">
                <label>Mail</label>
                <input class="w3-input w3-border" type="text" name="Email" required>
            </div>
            <div class="w3-section">
                <label>Consulta</label>
                <input class="w3-input w3-border" type="text" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
        </form>
    </div>
</div>

{{> footer}}

{{> cierre}}