
{{> intro titulo="Error 404"}}

{{> menu}}

{{> header}}

{{> inicioMain}}

<div class="w3-panel w3-red">
  <h3>ERROR 404</h3>
  <p>No se encontró la página que buscabas.</p>
</div> 

{{> footer}}

{{> cierre}}